<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljw.springcloud.dao.IpfCcmOriginPageMapper" >
  <resultMap id="BaseResultMap" type="com.ljw.springcloud.entity.IpfCcmOriginPage" >
    <id column="IPF_CCM_ORIGIN_PAGE_ID" property="ipfCcmOriginPageId" jdbcType="VARCHAR" />
    <result column="SEQ_NO" property="seqNo" jdbcType="DECIMAL" />
    <result column="IPF_CCM_ORIGIN_PAGE_PID" property="ipfCcmOriginPagePid" jdbcType="VARCHAR" />
    <result column="COLLECTION_INFO" property="collectionInfo" jdbcType="VARCHAR" />
    <result column="IS_PUBLIC_PAGE" property="isPublicPage" jdbcType="CHAR" />
    <result column="IS_PAGE_DISP_SETTING" property="isPageDispSetting" jdbcType="CHAR" />
    <result column="IPF_CCM_ORIGIN_ID" property="ipfCcmOriginId" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATE_OFFICE" property="createOffice" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="CREATE_TIME_ZONE" property="createTimeZone" jdbcType="VARCHAR" />
    <result column="LAST_MODIFYOR" property="lastModifyor" jdbcType="VARCHAR" />
    <result column="LAST_MODIFY_OFFICE" property="lastModifyOffice" jdbcType="VARCHAR" />
    <result column="LAST_MODIFY_TIME" property="lastModifyTime" jdbcType="VARCHAR" />
    <result column="LAST_MODIFY_TIME_ZONE" property="lastModifyTimeZone" jdbcType="VARCHAR" />
    <result column="RECORD_VERSION" property="recordVersion" jdbcType="DECIMAL" />
    <result column="PRINCIPAL_GROUP_CODE" property="principalGroupCode" jdbcType="VARCHAR" />
    <result column="CONFIG_ITEM_CODE" property="configItemCode" jdbcType="VARCHAR" />
    <result column="REVISION_NUMBER" property="revisionNumber" jdbcType="DECIMAL" />
    <result column="BASE_VIEW_ID" property="baseViewId" jdbcType="VARCHAR" />
    <result column="SOURCE_REVISION_NUMBER" property="sourceRevisionNumber" jdbcType="DECIMAL" />
    <result column="SOURCE_PK_ID" property="sourcePkId" jdbcType="VARCHAR" />
    <result column="PAGE_TYPE" property="pageType" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="PAGE_NAME" property="pageName" jdbcType="VARCHAR" />
    <result column="IPF_FCI_CUSTOM_PROJECT_ID" property="ipfFciCustomProjectId" jdbcType="VARCHAR" />
    <result column="ORIGIN_NAME" property="originName" jdbcType="VARCHAR" />
    <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
    <result column="IPF_FCI_SYSTEM_ID" property="ipfFciSystemId" jdbcType="VARCHAR" />
    <result column="DEVICE_TYPE" property="deviceType" jdbcType="VARCHAR" />
    <result column="REVISION_STATUS" property="revisionStatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    IPF_CCM_ORIGIN_PAGE_ID, SEQ_NO, IPF_CCM_ORIGIN_PAGE_PID, COLLECTION_INFO, IS_PUBLIC_PAGE, 
    IS_PAGE_DISP_SETTING, IPF_CCM_ORIGIN_ID, CREATOR, CREATE_OFFICE, CREATE_TIME, CREATE_TIME_ZONE, 
    LAST_MODIFYOR, LAST_MODIFY_OFFICE, LAST_MODIFY_TIME, LAST_MODIFY_TIME_ZONE, RECORD_VERSION, 
    PRINCIPAL_GROUP_CODE, CONFIG_ITEM_CODE, REVISION_NUMBER, BASE_VIEW_ID, SOURCE_REVISION_NUMBER, 
    SOURCE_PK_ID, PAGE_TYPE, DESCRIPTION, PAGE_NAME, IPF_FCI_CUSTOM_PROJECT_ID, ORIGIN_NAME, 
    BUSINESS_TYPE, IPF_FCI_SYSTEM_ID, DEVICE_TYPE, REVISION_STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ipf_ccm_origin_page
    where IPF_CCM_ORIGIN_PAGE_ID = #{ipfCcmOriginPageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ipf_ccm_origin_page
    where IPF_CCM_ORIGIN_PAGE_ID = #{ipfCcmOriginPageId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ljw.springcloud.entity.IpfCcmOriginPage" >
    insert into ipf_ccm_origin_page (IPF_CCM_ORIGIN_PAGE_ID, SEQ_NO, IPF_CCM_ORIGIN_PAGE_PID, 
      COLLECTION_INFO, IS_PUBLIC_PAGE, IS_PAGE_DISP_SETTING, 
      IPF_CCM_ORIGIN_ID, CREATOR, CREATE_OFFICE, 
      CREATE_TIME, CREATE_TIME_ZONE, LAST_MODIFYOR, 
      LAST_MODIFY_OFFICE, LAST_MODIFY_TIME, LAST_MODIFY_TIME_ZONE, 
      RECORD_VERSION, PRINCIPAL_GROUP_CODE, CONFIG_ITEM_CODE, 
      REVISION_NUMBER, BASE_VIEW_ID, SOURCE_REVISION_NUMBER, 
      SOURCE_PK_ID, PAGE_TYPE, DESCRIPTION, 
      PAGE_NAME, IPF_FCI_CUSTOM_PROJECT_ID, ORIGIN_NAME, 
      BUSINESS_TYPE, IPF_FCI_SYSTEM_ID, DEVICE_TYPE, 
      REVISION_STATUS)
    values (#{ipfCcmOriginPageId,jdbcType=VARCHAR}, #{seqNo,jdbcType=DECIMAL}, #{ipfCcmOriginPagePid,jdbcType=VARCHAR}, 
      #{collectionInfo,jdbcType=VARCHAR}, #{isPublicPage,jdbcType=CHAR}, #{isPageDispSetting,jdbcType=CHAR}, 
      #{ipfCcmOriginId,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createOffice,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createTimeZone,jdbcType=VARCHAR}, #{lastModifyor,jdbcType=VARCHAR}, 
      #{lastModifyOffice,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=VARCHAR}, #{lastModifyTimeZone,jdbcType=VARCHAR}, 
      #{recordVersion,jdbcType=DECIMAL}, #{principalGroupCode,jdbcType=VARCHAR}, #{configItemCode,jdbcType=VARCHAR}, 
      #{revisionNumber,jdbcType=DECIMAL}, #{baseViewId,jdbcType=VARCHAR}, #{sourceRevisionNumber,jdbcType=DECIMAL}, 
      #{sourcePkId,jdbcType=VARCHAR}, #{pageType,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{pageName,jdbcType=VARCHAR}, #{ipfFciCustomProjectId,jdbcType=VARCHAR}, #{originName,jdbcType=VARCHAR}, 
      #{businessType,jdbcType=VARCHAR}, #{ipfFciSystemId,jdbcType=VARCHAR}, #{deviceType,jdbcType=VARCHAR}, 
      #{revisionStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ljw.springcloud.entity.IpfCcmOriginPage" >
    insert into ipf_ccm_origin_page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ipfCcmOriginPageId != null" >
        IPF_CCM_ORIGIN_PAGE_ID,
      </if>
      <if test="seqNo != null" >
        SEQ_NO,
      </if>
      <if test="ipfCcmOriginPagePid != null" >
        IPF_CCM_ORIGIN_PAGE_PID,
      </if>
      <if test="collectionInfo != null" >
        COLLECTION_INFO,
      </if>
      <if test="isPublicPage != null" >
        IS_PUBLIC_PAGE,
      </if>
      <if test="isPageDispSetting != null" >
        IS_PAGE_DISP_SETTING,
      </if>
      <if test="ipfCcmOriginId != null" >
        IPF_CCM_ORIGIN_ID,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createOffice != null" >
        CREATE_OFFICE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createTimeZone != null" >
        CREATE_TIME_ZONE,
      </if>
      <if test="lastModifyor != null" >
        LAST_MODIFYOR,
      </if>
      <if test="lastModifyOffice != null" >
        LAST_MODIFY_OFFICE,
      </if>
      <if test="lastModifyTime != null" >
        LAST_MODIFY_TIME,
      </if>
      <if test="lastModifyTimeZone != null" >
        LAST_MODIFY_TIME_ZONE,
      </if>
      <if test="recordVersion != null" >
        RECORD_VERSION,
      </if>
      <if test="principalGroupCode != null" >
        PRINCIPAL_GROUP_CODE,
      </if>
      <if test="configItemCode != null" >
        CONFIG_ITEM_CODE,
      </if>
      <if test="revisionNumber != null" >
        REVISION_NUMBER,
      </if>
      <if test="baseViewId != null" >
        BASE_VIEW_ID,
      </if>
      <if test="sourceRevisionNumber != null" >
        SOURCE_REVISION_NUMBER,
      </if>
      <if test="sourcePkId != null" >
        SOURCE_PK_ID,
      </if>
      <if test="pageType != null" >
        PAGE_TYPE,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="pageName != null" >
        PAGE_NAME,
      </if>
      <if test="ipfFciCustomProjectId != null" >
        IPF_FCI_CUSTOM_PROJECT_ID,
      </if>
      <if test="originName != null" >
        ORIGIN_NAME,
      </if>
      <if test="businessType != null" >
        BUSINESS_TYPE,
      </if>
      <if test="ipfFciSystemId != null" >
        IPF_FCI_SYSTEM_ID,
      </if>
      <if test="deviceType != null" >
        DEVICE_TYPE,
      </if>
      <if test="revisionStatus != null" >
        REVISION_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ipfCcmOriginPageId != null" >
        #{ipfCcmOriginPageId,jdbcType=VARCHAR},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=DECIMAL},
      </if>
      <if test="ipfCcmOriginPagePid != null" >
        #{ipfCcmOriginPagePid,jdbcType=VARCHAR},
      </if>
      <if test="collectionInfo != null" >
        #{collectionInfo,jdbcType=VARCHAR},
      </if>
      <if test="isPublicPage != null" >
        #{isPublicPage,jdbcType=CHAR},
      </if>
      <if test="isPageDispSetting != null" >
        #{isPageDispSetting,jdbcType=CHAR},
      </if>
      <if test="ipfCcmOriginId != null" >
        #{ipfCcmOriginId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createOffice != null" >
        #{createOffice,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createTimeZone != null" >
        #{createTimeZone,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyor != null" >
        #{lastModifyor,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyOffice != null" >
        #{lastModifyOffice,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTimeZone != null" >
        #{lastModifyTimeZone,jdbcType=VARCHAR},
      </if>
      <if test="recordVersion != null" >
        #{recordVersion,jdbcType=DECIMAL},
      </if>
      <if test="principalGroupCode != null" >
        #{principalGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="configItemCode != null" >
        #{configItemCode,jdbcType=VARCHAR},
      </if>
      <if test="revisionNumber != null" >
        #{revisionNumber,jdbcType=DECIMAL},
      </if>
      <if test="baseViewId != null" >
        #{baseViewId,jdbcType=VARCHAR},
      </if>
      <if test="sourceRevisionNumber != null" >
        #{sourceRevisionNumber,jdbcType=DECIMAL},
      </if>
      <if test="sourcePkId != null" >
        #{sourcePkId,jdbcType=VARCHAR},
      </if>
      <if test="pageType != null" >
        #{pageType,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="pageName != null" >
        #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="ipfFciCustomProjectId != null" >
        #{ipfFciCustomProjectId,jdbcType=VARCHAR},
      </if>
      <if test="originName != null" >
        #{originName,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="ipfFciSystemId != null" >
        #{ipfFciSystemId,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="revisionStatus != null" >
        #{revisionStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ljw.springcloud.entity.IpfCcmOriginPage" >
    update ipf_ccm_origin_page
    <set >
      <if test="seqNo != null" >
        SEQ_NO = #{seqNo,jdbcType=DECIMAL},
      </if>
      <if test="ipfCcmOriginPagePid != null" >
        IPF_CCM_ORIGIN_PAGE_PID = #{ipfCcmOriginPagePid,jdbcType=VARCHAR},
      </if>
      <if test="collectionInfo != null" >
        COLLECTION_INFO = #{collectionInfo,jdbcType=VARCHAR},
      </if>
      <if test="isPublicPage != null" >
        IS_PUBLIC_PAGE = #{isPublicPage,jdbcType=CHAR},
      </if>
      <if test="isPageDispSetting != null" >
        IS_PAGE_DISP_SETTING = #{isPageDispSetting,jdbcType=CHAR},
      </if>
      <if test="ipfCcmOriginId != null" >
        IPF_CCM_ORIGIN_ID = #{ipfCcmOriginId,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createOffice != null" >
        CREATE_OFFICE = #{createOffice,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createTimeZone != null" >
        CREATE_TIME_ZONE = #{createTimeZone,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyor != null" >
        LAST_MODIFYOR = #{lastModifyor,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyOffice != null" >
        LAST_MODIFY_OFFICE = #{lastModifyOffice,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTimeZone != null" >
        LAST_MODIFY_TIME_ZONE = #{lastModifyTimeZone,jdbcType=VARCHAR},
      </if>
      <if test="recordVersion != null" >
        RECORD_VERSION = #{recordVersion,jdbcType=DECIMAL},
      </if>
      <if test="principalGroupCode != null" >
        PRINCIPAL_GROUP_CODE = #{principalGroupCode,jdbcType=VARCHAR},
      </if>
      <if test="configItemCode != null" >
        CONFIG_ITEM_CODE = #{configItemCode,jdbcType=VARCHAR},
      </if>
      <if test="revisionNumber != null" >
        REVISION_NUMBER = #{revisionNumber,jdbcType=DECIMAL},
      </if>
      <if test="baseViewId != null" >
        BASE_VIEW_ID = #{baseViewId,jdbcType=VARCHAR},
      </if>
      <if test="sourceRevisionNumber != null" >
        SOURCE_REVISION_NUMBER = #{sourceRevisionNumber,jdbcType=DECIMAL},
      </if>
      <if test="sourcePkId != null" >
        SOURCE_PK_ID = #{sourcePkId,jdbcType=VARCHAR},
      </if>
      <if test="pageType != null" >
        PAGE_TYPE = #{pageType,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="pageName != null" >
        PAGE_NAME = #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="ipfFciCustomProjectId != null" >
        IPF_FCI_CUSTOM_PROJECT_ID = #{ipfFciCustomProjectId,jdbcType=VARCHAR},
      </if>
      <if test="originName != null" >
        ORIGIN_NAME = #{originName,jdbcType=VARCHAR},
      </if>
      <if test="businessType != null" >
        BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="ipfFciSystemId != null" >
        IPF_FCI_SYSTEM_ID = #{ipfFciSystemId,jdbcType=VARCHAR},
      </if>
      <if test="deviceType != null" >
        DEVICE_TYPE = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="revisionStatus != null" >
        REVISION_STATUS = #{revisionStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where IPF_CCM_ORIGIN_PAGE_ID = #{ipfCcmOriginPageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ljw.springcloud.entity.IpfCcmOriginPage" >
    update ipf_ccm_origin_page
    set SEQ_NO = #{seqNo,jdbcType=DECIMAL},
      IPF_CCM_ORIGIN_PAGE_PID = #{ipfCcmOriginPagePid,jdbcType=VARCHAR},
      COLLECTION_INFO = #{collectionInfo,jdbcType=VARCHAR},
      IS_PUBLIC_PAGE = #{isPublicPage,jdbcType=CHAR},
      IS_PAGE_DISP_SETTING = #{isPageDispSetting,jdbcType=CHAR},
      IPF_CCM_ORIGIN_ID = #{ipfCcmOriginId,jdbcType=VARCHAR},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATE_OFFICE = #{createOffice,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_TIME_ZONE = #{createTimeZone,jdbcType=VARCHAR},
      LAST_MODIFYOR = #{lastModifyor,jdbcType=VARCHAR},
      LAST_MODIFY_OFFICE = #{lastModifyOffice,jdbcType=VARCHAR},
      LAST_MODIFY_TIME = #{lastModifyTime,jdbcType=VARCHAR},
      LAST_MODIFY_TIME_ZONE = #{lastModifyTimeZone,jdbcType=VARCHAR},
      RECORD_VERSION = #{recordVersion,jdbcType=DECIMAL},
      PRINCIPAL_GROUP_CODE = #{principalGroupCode,jdbcType=VARCHAR},
      CONFIG_ITEM_CODE = #{configItemCode,jdbcType=VARCHAR},
      REVISION_NUMBER = #{revisionNumber,jdbcType=DECIMAL},
      BASE_VIEW_ID = #{baseViewId,jdbcType=VARCHAR},
      SOURCE_REVISION_NUMBER = #{sourceRevisionNumber,jdbcType=DECIMAL},
      SOURCE_PK_ID = #{sourcePkId,jdbcType=VARCHAR},
      PAGE_TYPE = #{pageType,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      PAGE_NAME = #{pageName,jdbcType=VARCHAR},
      IPF_FCI_CUSTOM_PROJECT_ID = #{ipfFciCustomProjectId,jdbcType=VARCHAR},
      ORIGIN_NAME = #{originName,jdbcType=VARCHAR},
      BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      IPF_FCI_SYSTEM_ID = #{ipfFciSystemId,jdbcType=VARCHAR},
      DEVICE_TYPE = #{deviceType,jdbcType=VARCHAR},
      REVISION_STATUS = #{revisionStatus,jdbcType=VARCHAR}
    where IPF_CCM_ORIGIN_PAGE_ID = #{ipfCcmOriginPageId,jdbcType=VARCHAR}
  </update>
</mapper>